.positionCard_list{
display: flex;
flex-wrap:wrap;
list-style-type: none;
margin: 0;
padding: 0;

}

.positionCard{
width: 10%;
margin: 10px 10px;
}



.positionCard_NEW{
  margin-top: -25px;
  margin-left: 8px;
  color: #22af22;
  font-weight: bold;
  text-shadow: 1px 1px 1px #f00;
}

.positionCard_brand{
  font-weight: bold;
  color: #000;
}


/* .positionCard_name{} */

.positionCard_priceU{
  font-weight: bold;
}

.positionCard_priceU::after {
  content: " руб.";
}


/* .positionCard_rating{} */

.searchRequestNone{
  display: none;
}


/* Новые  */
.positionCategoryRow{
  display: flex;
}

.positionCategoryСolumn{
  flex-wrap: wrap;
  margin: 0 10px;
}


/* .positionArticleNew{
  width: 100%;
} */



/* ----------- "Акции" в позициях -----------*/
.allActions{
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 20px);
}
.oneAction{
  width: 23%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 7px;
  margin: 5px;
}
  /* .imageAction{} */
  .imageActionPromo{
    width: 100%;
  }
  /* .promoTextAction{}
  .altAction{}
  .startDateAction{}
  .isPayAction{}
  .countryBitmaskAction{} */

  .actionPayTrue{
    background-color: mediumpurple;
  }
  .actionPayFalse{
    background-color: grey;
  }
  .actionPayBrands{
    position: absolute;
    font-size: 3rem;
    margin-top: -10%;
    margin-left: 5%;
    transform: rotate(-45deg);
    opacity: 0.5;
    color: orangered;
    text-shadow: 2px 2px 3px black, 0 0 1em red
  }
  /* ----------- ----------- ----------- -----------*/
